<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <input type="text" id="username" placeholder="Enter your name" />
    <button onclick="login()">Login</button>




    
    <script>
      function login() {
        const username = document.getElementById("username").value;
        if (username) {
          localStorage.setItem("username", username);

          fetch("/login", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ username }),
          }).then((response) => {
            if (response.ok) {
              window.location.href = "/message";
            } else {
              alert("Login failed, please try again");
            }
          });
        } else {
          alert("Please enter a name");
        }
      }
    </script>
  </body>
</html>
